body{
    background-color: #E5E3D4;
}

.text-a{
    color: #E5E3D4;
}

nav{
    background-color: #1c325be1;
    margin: 2vh 20vw;
    border-radius: 25px;
    backdrop-filter: blur(10px);

}

.img{
    height: 100vh;
    background-image: url('./img/dj.jpg');
    background-position: center;
    background-size: cover;
    filter: brightness(50%);
}

.title-custom{
    z-index: 2;
    color: #E5E3D4;
    position: absolute;
    top: 50%;
    left: 36%;
    font-size: 70px;
    letter-spacing: 6px;
    font-family: 'Bebas Neue';
    font-weight: bold;
    text-shadow: 2px 5px black;

}

.p-custom{
    position: absolute;
    top: 60%;
    left: 22%;
    font-size: 25px;
    position: absolute;
    z-index: 2;
    color: #E5E3D4;
    font-weight: 550;
    text-shadow: 2px 5px black;
}

.card{
    border: none;
    background-color: transparent;
    margin-bottom: 50px;
    left: 26%;
}

.background{
    background-color: #1C325B;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: #000f2c;
    color: #E5E3D4;
    
}


